.card-label__container{
    position: absolute;
    bottom: 195px;
    right: 0;


}
.card_label__conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 128, 0, 0.507);
    color: white;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    height: 20px;
    padding: 0px 25px;

}