
<div class="container__home">
   
    <div class="home__cards1">
        <app-card
            gamecover="https://image.api.playstation.com/pr/bam-art/159/265/142dd38e-df8f-4663-823c-2d4d1a1bd3e4.jpg?w=620&thumb=false"
            gamelabel="Novo"
            gameprice="R$ 399,90"
            gametype="Digital ps4"
        ></app-card>

        <app-card
            gamecover="https://image.api.playstation.com/pr/bam-art/159/467/62cf2e8d-d557-4fe6-a119-56bc63b492ec.jpg?w=620&thumb=false"
            gamelabel="Exclusivo"
            gameprice="R$ 199,90"
            gametype="Disc PS5"
        ></app-card>
        <app-card
            gamecover="https://image.api.playstation.com/pr/bam-art/141/082/0aa9672f-4506-442d-b51a-a0b07c7e69c9.jpg?w=620&thumb=false"
            gamelabel="Novo"
            gameprice="R$ 124,90"
            gametype="Digital ps4"
        ></app-card>
        
        <app-card
            gamecover="https://image.api.playstation.com/pr/bam-art/159/043/8d0edebe-0c67-4cae-b8c5-6a597c1c6578.png?w=620&thumb=false"
            gamelabel="Em breve"
            gameprice="R$ 399,90"
            gametype="Digital ps4"
        ></app-card>
        


        






        <div class="home__cards2">

                <app-card
                gamecover="https://image.api.playstation.com/pr/bam-art/157/703/1860ac56-837c-4b4f-8489-228b8c98ba21.jpg?w=620&thumb=false"
                gamelabel="Exclusivo"
                gameprice="R$ 99,90"
                gametype="Digital ps4"
            ></app-card>

            <app-card
                gamecover="https://image.api.playstation.com/pr/bam-art/159/848/6db81b79-9939-405c-93cc-a70aff947ab0.jpg?w=620&thumb=false"
                gamelabel="Novo"
                gameprice="R$ 3699,90"
                gametype="Digital ps4"
            ></app-card>

            <app-card
                gamecover="https://image.api.playstation.com/pr/bam-art/159/523/e0daef16-93e7-4c83-96f3-d7ec8f8da44b.png?w=620&thumb=false"
                gamelabel="Em breve"
                gameprice="R$ 3299,90"
                gametype="Digital ps4"
            ></app-card>

            <app-card
            gamecover="https://image.api.playstation.com/vulcan/ap/rnd/202305/1515/1cc63f4f4b2c9a9852fabefba4ca7eea936b1ef7867811a5.png?w=440&thumb=false"
            gamelabel="Em breve"
            gameprice="R$ 3299,90"
            gametype="Digital ps4"
            ></app-card>
        </div>


    </div>
    
</div>